/*
	Display property - change the display of the element

	*inline - consuming the width of the content. ex. img and span
	
	*block - consuming the full width of the page, thus creating line space for the next element. ex. div
	
	*inline-block- works as inline element for its siblings but block elements outside its parent element. as long as the sibling element are inline/inline-block, the inline-block elemtns will appear next to these elements.
	
	*none - hidden the element from the website.c
*/

#div-1{
	background-color: green;
	/*display: inline-block;*/
}
#span-1{
	background-color: purple;
	display: none;
}
#span-2{
	background-color: red;
	display: none;
}
#div-2{
	background-color: pink;
	display: inline-block;
}
#img{
	width: 250px;
	height: 250px;
	display: inline-block;
}

#p-1{
	background-color: #87cefa;
}
#p-2{
	background-color: rgb(255,105,180);
	width: 60%;
}
#p-3{
	background-color: yellow;
	width: 40%;
}
#span-sample{
	background-color: grey;
	width: 60%;
}
.sample{
	display: inline-block;
	width: 30%;
	border: 1px solid black;
}
.img-float{
	width: 250px;
	height: 250px;
	/*float: left;*/
}
.box{
	background-color: red;
	border: 1px solid black;
	margin: 5px;
}
.fifty-percent{
	width: 50%;
}
.one-hundred-pixel{
	width: 100px;
}
.parent{
	width: 135px;
	border: 2px solid navy;
	font-size: 30px;
}
.fifty-vw{
	width: 50vw;
}
.twenty-five-vh{
	height: 25vh;
}
/*rem - root element measurement;
	the measurement is relative to the root element which is the html.
	default 16px
	em - element measurement. the measurement is realtive to its parent element.
*/
.one-rem{
	font-size: 1rem;
}
.one-em{
	font-size: 1em;
}
.two-rem{
	font-size: 2rem;
}
.two-em{
	font-size: 2em;
}
/*the % unit is also based on the parent element*/
.two-hundred-percent{
	font-size: 200%;
}

.background{
	min-height: 100vh;
	/*background-color: gray;*/
	/*the background image is outsourced in the internet through the use of url()*/
	background-image: url(https://c4.wallpaperflare.com/wallpaper/43/1003/707/anime-your-name-kimi-no-na-wa-mitsuha-miyamizu-wallpaper-preview.jpg);
	background-repeat: no-repeat;
	background-size: 150%;
	background-position: center top;
	/*background-attachment: fixed;*/
	background-attachment: scroll;
}

.title{
	color: white;
	text-align: center;
	font-size: 5rem;
	/*get rid of space around the element*/
	margin: 0;
	line-height: 35rem;

}
.container-bg{
	background-color: rgba(0,0,0,0.5);
	min-height: 100vh;
}

/*CSS Positioning
	*static - is the default position for every element; this follows the normal flow of the elements

	*relative - although it is following the normal flow, it is affected by the left,bottom,right,top measurements

	*absolute - positioned relative to its parent elements. the element is removed from the normal ocument flow. the other elements will behave as if the element is not in the document. no space is created for the element. the element is positioned relative to its closest positioned ancestor. that means that the parent element has to have a position value other than position static.
	
	*fixed - fixed it cannot be moved
*/
.parent-element{
	background-color: skyblue;
	padding: 10px;
	/*position: relative;
	height: 800vh;*/
	/*position: absolute;*/
}
.child-one{
	background-color: gray;
	padding: 10px;

}
.child-two{
	background-color: yellow;
	padding: 10px;
	/*position: static;*/
	/*position: relative;*/
	/*position: absolute;*/
	/*position: fixed;*/
	position: sticky;
	/*left: 10px;
	bottom: 10px;*/
	top: 0;


}
.child-three{
	background-color: gray;
	padding: 10px;
}
/*html{
	height: 800vh;
}*/

.container{
	position: relative;

}
.black-box{
	position: relative;
	z-index: 1;
	border: 2px solid black;
	height: 100px;
	margin: 30px;
}
.gray-box{
	position: absolute;
	z-index: 3;
	background: lightgray;
	height: 60px;
	width: 70%;
	left: 50px;
	top: 50px;
}
.green-box{
	position: absolute;
	z-index: 2;
	background: lightgreen;
	height: 300px;
	width: 35%;
	left: 270px;
	top: -15px;
}