/*Activity s08*/
/*CSS reset*/
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	/*text-align: center;*/
}
/*using google fornts for styling the body texts*/
body{
	font-family: 'Open Sans', sans-serif;
}

/*nav css*/

nav{
	background-color: white;
	padding: 0.5rem 0.8rem;
	/*margin-bottom: 1rem;*/
	border-bottom: 1px solid #e9e9e9;
	list-style-type: none;
	position: sticky;
	top: 0;
	z-index: 3;
}
.nav,.nav-logo{
	margin: 0.5rem;
	display: inline-block;
}
nav > ul{
	margin-left: 6.5%;
	margin-right: 6.5%;
}
.nav-logo{
	float: left;
}
.right-nav{
	font-weight: bolder;
	text-align: right;
	font-size: 18px;
	
}
.right-nav button{
	color: white;
	font-weight: bold;
	background-color: #c2195b;
	border-radius: 25px;
	border: none;
	font-size: 1rem;
	padding: 0.75rem 1.5rem;
}

/*landing page*/
#bg-image{
	
	min-height: 42vh;
	background-image: url("unnamed.jpg");
	background-repeat: no-repeat;
	background-size: 100%;
	background-position: center;
	/*background-attachment: fixed;*/
	background-attachment: scroll;
	margin-top: 0;
	position: relative;
}

.front-bg div{
	min-height: 42vh;
	background-color: rgba(0,0,0,0.5);
	background-position: center;
	opacity: 95%;
	/*position: relative;*/
}

.container{
	
	min-height: 30vh;
	padding-right: 9%;
	padding-left: 50%;
	color: whitesmoke;
	text-align: right;
	font-size: 45px;
	position: relative;
	padding-bottom: 2rem;
}
.apply-button{
	color: white;
	font-weight: bold;
	background-color: #c2195b;
	border-radius: 30px;
	border: 0.5rem;
	font-size: 1rem;
	padding: 0.75rem 1.75rem;
	width: 200px;
}

.title{
	font-family: 'Zilla Slab', serif;
	font-size: 45px;
	/*margin-left: 20%;*/
	margin-bottom: 1rem;

}
.subtitle{
	margin-left: 25%;
	margin-bottom: 5px;
	font-size: 50%;
	font-weight: normal;
}

/*intro section */

.intro{
	margin-top: 5rem;
	text-align: center;
}
.title-2{
	font-family: 'Zilla Slab', serif;
	/*font-weight: bold;*/
	font-size: 30px;
}
.intro-description{
	margin: 5rem 15rem;
	margin-bottom: 6rem;
}
.prefooter-description{
	margin: 3rem 15rem;
	margin-bottom: 2rem;
}

/*Pre-footer section*/

.pre-footer{
	padding-top: 20px;
	padding-bottom: 20px;
	background-color: #f7fbfb;
	text-align: center;
}
.book-button{
	/*margin-top: 1rem;*/
	color: whitesmoke;
	font-weight: bold;
	background-color: #336589;
	border-radius: 30px;
	border: 0.5rem;
	/*font-size: 1rem;*/
	padding: 1rem 1.75rem;
}

/*footer*/

footer{
	margin-top: 5rem;
	margin-bottom: 1rem;
	text-align: center;
}